@use 'variables' as *;

@mixin default-color {
    color: $mainColor;
}

@mixin default-bg-color {
    background-color: $mainColor;
}

@mixin buttonBlue {
    background-color: $blueColor;
    border: none;
    padding: 12px;
    border-radius: 20px;
    color: white;
    width: 120px;
    text-align: center;
    font-size: 0.7rem;
}

@mixin padding {
  padding: 0 90px;
  margin-top: 60px;
}


// <div class="d-flex justify-content-between align-items-center">
//   <div>
//     <a href="#" @click.prevent>
//       Software Development
//     </a>
//   </div>
//   <div>
//     <a href="#"  @click.prevent class="opacity">
//       5 courses
//     </a>
//   </div>
// </div>

// <div class="d-flex justify-content-between align-items-center mt-2">
//           <div>
//             <a href="#" @click.prevent>
//             Material Design
//             </a>
//           </div>
//           <div>
//             <a href="#"  @click.prevent class="opacity">
//               5 courses
//             </a>
//           </div>
//   </div>